/** CSS RESET */
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html, body{
	width: 100%;
	height: 100%;
}

/** LOGIN PAGE */
.loginWrapper{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login h1{
	font-size: 2.5em;
}

.login input, .login button{
	display: block;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 0.15rem solid #E6EFFE;
	background-color: #F2F9FF;
	font-size: 1.25em;
	box-sizing: border-box;
}

.login button{
	border: none;
	background-color: #F2F9FF;
}

/** NAVIGATION */
.navigation{
	width: 100%;
	height: 80px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	background-color: #4899F3;
}

.navigation h1{
	height: 100%;
	font-size: 3em;
	color: white;
	font-family: sans-serif;
}

.navigation form {
	margin-left: auto;
	height: 100%;
}

.navigation form button {
	height: 100%;
	width: 100px;
}

/** Groups **/
.groups{
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.groups > div{
	width: 200px;
	height: 200px;
	background-color: #C2E0FA;
	margin: 20px;
}

.group-name{
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.group-name > a{
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
}

.group-controls{
	width: 100%;
	height: 70px;
	background-color: #4899F3;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.group-controls > a{
	color: white;
	text-decoration: none;
}

.group-controls button{
	color: white;
	border: none;
	background-color: #4899F3;
	font-size: 1em;
}

.group-controls button:hover{
	cursor: pointer;
}

.group-add{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.group-add a{
	color: white;
	text-decoration: none;
	font-size: 2em;
}