/* CSS RESET */
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html, body{
	width: 100%;
	height: 100%;
}

/* LOGIN PAGE */
.loginWrapper{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login h1{
	font-size: 2.5em;
}

.login input, .login button{
	display: block;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 0.15rem solid #E6EFFE;
	background-color: #F2F9FF;
	font-size: 1.25em;
	box-sizing: border-box;
}

.login button{
	border: none;
	background-color: #F2F9FF;
}

/* NAVIGATION */
.navigation{
	width: 100%;
	height: 80px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	background-color: #4899F3;
}

.navigation h1{
	height: 100%;
	font-size: 3em;
	color: white;
	font-family: sans-serif;
}

.logout {
	margin-left: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logout span{
	color: #4899F3;
	padding: 10px;
	font-size: 1.25em;
	margin-right: 20px;
	background-color: white;
}

.logout button {
	height: 100%;
	width: 100px;
	background-color: #4899F3;
	border: none;
	color: white;
	font-size: 1.25em;
}

.logout button:hover{
	cursor: pointer;
}

/** GROUPS **/
.groups{
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.groups > div{
	width: 200px;
	height: 200px;
	background-color: #C2E0FA;
	margin: 20px;
}

.group-name{
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.group-name > a{
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
}

.group-controls{
	width: 100%;
	height: 70px;
	background-color: #4899F3;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.group-controls > a{
	color: white;
	text-decoration: none;
}

.group-controls button{
	color: white;
	border: none;
	background-color: #4899F3;
	font-size: 1em;
}

.group-controls button:hover{
	cursor: pointer;
}

.group-add{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.group-add a{
	color: white;
	text-decoration: none;
	font-size: 2em;
}

/* STUDENTS IN GROUP */

.group-title{
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4899F3;
}

.students{
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.students > div{
	width: 200px;
	background-color: #C2E0FA;
	margin: 20px;
}

.student-img{
	width: 100%;
	height: 160px;
	padding: 10px;
	box-sizing: border-box;
}

.student-img > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.student-name{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.student-name a{
	color: white;
	text-decoration: none;
}

.student-controls{
	width: 100%;
	height: 70px;
	background-color: #4899F3;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.student-controls > a{
	color: white;
	text-decoration: none;
}

.student-controls button{
	color: white;
	border: none;
	background-color: #4899F3;
	font-size: 1em;
}

.student-controls button:hover{
	cursor: pointer;
}

.student-add{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 270px;
}

.student-add a{
	color: white;
	text-decoration: none;
	font-size: 2em;
}
/* TEACHERS */
.teachers{
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teachers > div{
	width: 200px;
	background-color: #C2E0FA;
	margin: 20px;
}

.teacher-img{
	width: 100%;
	height: 160px;
	padding: 10px;
	box-sizing: border-box;
}

.teacher-img > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.teacher-name{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teacher-name a{
	color: white;
	text-decoration: none;
}

.teacher-controls{
	width: 100%;
	height: 70px;
	background-color: #4899F3;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.teacher-controls > a{
	color: white;
	text-decoration: none;
}

.teacher-controls button{
	color: white;
	border: none;
	background-color: #4899F3;
	font-size: 1em;
}

.teacher-controls button:hover{
	cursor: pointer;
}

.teacher-add{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 270px;
}

.teacher-add a{
	color: white;
	text-decoration: none;
	font-size: 2em;
}
/* SCHOOLS */
.schools{
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.schools > div{
	width: 200px;
	height: 200px;
	background-color: #C2E0FA;
	margin: 20px;
}

.school-name{
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.school-name > a{
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
}

.school-controls{
	width: 100%;
	height: 70px;
	background-color: #4899F3;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.school-controls > a{
	color: white;
	text-decoration: none;
}

.school-controls button{
	color: white;
	border: none;
	background-color: #4899F3;
	font-size: 1em;
}

.school-controls button:hover{
	cursor: pointer;
}

.school-add{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.school-add a{
	color: white;
	text-decoration: none;
	font-size: 2em;
}
/* QUIZ */
.quiz-container{
	display: flex;
	justify-content: center;
}

.quiz-image{
	height: 500px;
	width: 500px;
}

.quiz-image > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.quiz-sidebar{
	width: 250px;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

.quiz-answers{
	flex: 1;
}

.quiz-answer{
	background-color: #4899F3;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.quiz-next{
	height: 50px;
	background-color: #4899F3;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.correct{
	background-color: green;
}

.incorrect{
	background-color: red;
}