/** CSS RESET */
*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

/** LOGIN PAGE */
.loginWrapper{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login h1{
	font-size: 2.5em;
}

.login input, .login button{
	display: block;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 0.15rem solid #E6EFFE;
	background-color: #F2F9FF;
	font-size: 1.25em;
	box-sizing: border-box;
}

.login button{
	border: none;
	background-color: #F2F9FF;
}

/** NAVIGATION */
.navigation{
	width: 100%;
	height: 80px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	background-color: #4899F3;
}

.navigation h1{
	height: 100%;
	font-size: 3em;
	color: white;
	font-family: sans-serif;
}

.navigation form {
	margin-left: auto;
	height: 100%;
}

.navigation form button {
	height: 100%;
	width: 100px;
}